# Database Configuration
# DB_HOST=localhost
# DB_USER=root
# DB_PASS=your_password
# DB_NAME=your_database_name
# DB_PORT=3306
# DB_DIALECT=postgresql

SOCKET_PORT=3020

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRE=7d

# Server Configuration
PORT=3000
NODE_ENV=development

# Rate Limiting
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW=15
EXPIRE_TIME= MzAwbQ==
TOKEN=OE1MdTZuelVVdWRvSjdWMEoxTXdpRGpxMkoyMG9QNDQyMTM5OFNBU0RWMFNERkE3U0Q2RFZEUzlWOFNEREFTVjZEVlNERzBTQkZTREY2RFM3RlRKVm5NMGJ1UzdMM3hhMDdOenlXQThkTVpRRDZQUlJzRmtjMWpMQg==



DB_HOST=20.173.48.154
DB_HOST_READER=20.173.48.154
DB_USER=dbadmin
DB_PASS=w9vSNX*3&g
#DB_NAME=probaladi_04-dec-24
DB_NAME=probaladi_19-jan-24
DB_DIALECT=postgresql
DB_PORT=3306



# DB_HOST=127.0.0.1
# DB_HOST_READER=127.0.0.1
# DB_USER=prodsa
# DB_PASS=3zF$aZqank
# DB_NAME=probaladi_19-jan-24
# DB_DIALECT=postgresql
# DB_PORT=54323